In [8]:
import pandas as pd

In [9]:
btc_data = pd.read_csv("binance_btc_usdt.csv")
data.head()

,time,open,high,low,close,volume,volumeq
0,2020-09-22 01:00:00+00,10417.22,10491.32,10353.00,10457.99,2684.66,28035488.0
1,2020-09-22 00:00:00+00,10478.14,10506.17,10410.00,10417.22,1821.59,19055766.0
2,2020-09-21 23:00:00+00,10504.00,10533.32,10466.68,10478.14,1371.18,14393971.0
3,2020-09-21 22:00:00+00,10477.79,10533.42,10461.51,10504.00,1224.15,12846556.0
4,2020-09-21 21:00:00+00,10498.55,10533.46,10470.80,10477.79,2312.87,24304476.0

In [10]:
twitter_data = pd.read_csv("bitcoin_20180101_20181231.csv")
twitter_data.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1079754048935522304,1079754048935522304,2019-01-01 00:00:00 KST,2019-01-01,00:00:00,900,872234445499244552,cryptohourly,crypto Hourly,NaN,...,NaN,NaN,NaN,NaN,NaN,"{'user_id': None, 'username': None}",NaN,NaN,NaN,NaN
1,1079754048327143428,1079754048327143428,2019-01-01 00:00:00 KST,2019-01-01,00:00:00,900,10880202,philanthropy,The Chronicle of Philanthropy,NaN,...,NaN,NaN,NaN,NaN,NaN,"{'user_id': None, 'username': None}",NaN,NaN,NaN,NaN
2,1079754047178051584,1079754047178051584,2019-01-01 00:00:00 KST,2019-01-01,00:00:00,900,873103406008745984,howmanybigmacs,How many big macs,NaN,...,NaN,NaN,NaN,NaN,NaN,"{'user_id': None, 'username': None}",NaN,NaN,NaN,NaN
3,1079754007449608193,1079754007449608193,2018-12-31 23:59:50 KST,2018-12-31,23:59:50,900,1056561295061848066,kardesbaris,Barış Kardeş,NaN,...,NaN,NaN,NaN,NaN,NaN,"{'user_id': None, 'username': None}",NaN,NaN,NaN,NaN
4,1079753972661968896,1079753972661968896,2018-12-31 23:59:42 KST,2018-12-31,23:59:42,900,994885557435228161,vaishal19124597,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"{'user_id': None, 'username': None}",NaN,NaN,NaN,NaN